@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family removed to allow Tailwind's base styles to apply the theme font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Background will be set in Layout component */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
